@model CreateTicketCommand

@{
    var controlClass = "w-full px-3";
    var labelClass = "block text-gray-600 text-xs py-1";
    var inputClass = "block text-sm py-2 w-full rounded bg-gray-50 border-gray-300 focus:border-indigo-300 focus:ring-indigo-300";
    var errorClass = "text-xs text-red-400";
    var primaryButton = "text-sm rounded px-3 py-1 focus:outline-none cursor-pointer drop-shadow-md bg-indigo-500 text-white hover:bg-indigo-600 focus:ring-indigo-800";
    var defaultButton = "text-sm rounded px-3 py-1 focus:outline-none cursor-pointer drop-shadow-md bg-white text-gray-600 hover:bg-gray-50 hover:text-gray-900 focus:ring-gray-400";

}

<div id="main-swap">
    <form asp-controller="Ticket" asp-action="Create" method="post">
        <section class=" flex w-full font-bold text-2xl pb-5">
            <div class="flex w-1/2">New Ticket</div>
            <div class="flex w-1/2 justify-end">
                <div class="flex flex-row">
                    <button class="@defaultButton"
                        hx-post="/ticket" hx-trigger="click" hx-target="#main-swap" hx-swap="outerHTML"
                        hx-push-url="true">
                        <div class="flex flex-row ">
                            <div class="flex "> </div> 
                            <div class="flex">Cancel</div>
                       </div>
                    </button> 
                    <span class="mr-4"></span>
                     <button class="@primaryButton"
                        hx-post="/ticket/create" hx-trigger="click" hx-target="#main-swap" hx-swap="outerHTML"
                        hx-push-url="true">
                       <div class="flex flex-row ">
                            <div class="mr-2 flex items-center "> 
                                <ion-icon name="save-outline" style="font-size: 16px;"></ion-icon>
                                </div> 
                            <div class="flex">Save</div>
                       </div>
                    </button>
                </div>
            </div>
        </section>

        <div class="w-full bg-white drop-shadow-lg rounded px-10 py-10">

            <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
                @* requester *@
                <div class="@controlClass">
                    <label asp-for="@Model.Requester" class="@labelClass">
                        Requester
                    </label>
                    <input asp-for="@Model.Requester" class="@inputClass" />
                    <span asp-validation-for="@Model.Requester" class="@errorClass"></span>
                </div>

                @* subject *@
                <div class="@controlClass">
                    <label asp-for="@Model.Subject" class="@labelClass">
                        Subject
                    </label>
                    <input asp-for="@Model.Subject" class="@inputClass" />
                    <span asp-validation-for="@Model.Subject" class="@errorClass"></span>
                </div>

                @* assignee *@
                <div class="@controlClass">
                    <label asp-for="@Model.Assignee" class="@labelClass">
                        Assigned To
                    </label>
                    <input asp-for="@Model.Assignee" class="@inputClass" />
                    <span asp-validation-for="@Model.Assignee" class="@errorClass"></span>
                </div>

                @* source *@
                <div class="@controlClass">
                    <label asp-for="@Model.Source" class="@labelClass">
                        Source
                    </label>
                    <select asp-for="@Model.Source" class="@inputClass" asp-items="@Html.GetEnumSelectList<TicketSource>()">
                        <option value=""></option>
                    </select>
                    <span asp-validation-for="@Model.Source" class="@errorClass"></span>
                </div>

                @* type *@
                <div class="@controlClass">
                    <label asp-for="@Model.Type" class="@labelClass">
                        Type
                    </label>
                    <input asp-for="@Model.Type" class="@inputClass" />
                    <span asp-validation-for="@Model.Type" class="@errorClass"></span>
                </div>

                @* department *@
                <div class="@controlClass">
                    <label asp-for="@Model.Department" class="@labelClass">
                        Department
                    </label>
                    <input asp-for="@Model.Department" class="@inputClass" />
                    <span asp-validation-for="@Model.Department" class="@errorClass"></span>
                </div>

                @* help topic *@
                <div class="@controlClass">
                    <label asp-for="@Model.HelpTopic" class="@labelClass">
                        Help Topic
                    </label>
                    <input asp-for="@Model.HelpTopic" class="@inputClass" />
                    <span asp-validation-for="@Model.HelpTopic" class="@errorClass"></span>
                </div>

            </div>
            <div class="grid grid-cols-1 gap-5 py-4">
                @* body *@
                <div class="@controlClass">
                    <label asp-for="@Model.Body" class="@labelClass">
                        Description
                    </label>
                    <textarea asp-for="@Model.Body" class="@inputClass" cols="30" rows="10"></textarea>
                    <span asp-validation-for="@Model.Body" class="@errorClass"></span>

                </div>
            </div>
        </div>
    </form>
</div>