@model FetchHelpTopic

<div id="main-swap">
    <section>
        @await Component.InvokeAsync("Breadcrumbs", new
        {
            crumbs = new[]
            {
                new SelectListItem {Text = "Home", Value = "/"},
                new SelectListItem {Text = "Admin", Value = "/admin"},
                new SelectListItem {Text = "Help Topic", Value = "/admin/helptopic"}
            },
            currentPage = Model.Topic
        })
    </section>
    <section class="flex w-full font-bold text-2xl pb-5">
        <div class="flex w-1/2">@Model.Topic</div>
        <div class="flex w-1/2 justify-end">
            <div class="">
                @* <button class="btn-primary"
          hx-get="/admin/tickettype/create" hx-trigger="click" hx-target="#main-swap" hx-swap="outerHTML"
          hx-push-url="true">
          New Ticket Type
        </button> *@
            </div>
        </div>
    </section>

    <div class="w-full flex flex-row">
        <div style="width: 220px" class="">
            <div class=" pr-2">
                <img class="bg-gray-200 rounded-lg" src="data:image/png;base64, @Model.ImageCode" alt="@Model.Topic"/>
            </div>
            <ul class="edit-sidebar py-5">
                <li>
                    <div class="">Created By</div>
                    <div class="">@Model.CreatedByName</div>
                </li>
                <li>
                    <div>
                        <div>Created At</div>
                        <div>@Model.CreatedAt.ToString("MMM dd, yyyy")</div>
                    </div>
                </li>
                <li>
                    <div>
                        <div>Updated By</div>
                        <div>@Model.UpdatedByName</div>
                    </div>
                </li>
                <li>
                    <div>
                        <div>Updated At</div>
                        <div>@Model.UpdatedAt.ToString("MMM dd, yyyy")</div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="w-full bg-white drop-shadow-lg rounded px-10 py-10">

            <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
                @* name *@
                <div class="form-control">
                    <label asp-for="@Model.Topic" class="form-label">
                        Topic
                    </label>
                    <input asp-for="@Model.Topic" class="form-input"/>
                </div>

                <div class="form-control">
                    <label asp-for="@Model.Type" class="form-label">
                        Type
                    </label>
                    <input asp-for="@Model.Type" class="form-input"/>
                </div>

                <div class="form-control">
                    <label asp-for="@Model.DepartmentName" class="form-label">
                        Department
                    </label>
                    <input asp-for="@Model.DepartmentName" class="form-input"/>
                </div>

                <div class="form-control">
                    <label asp-for="@Model.Status" class="form-label">
                        Status
                    </label>
                    <input asp-for="@Model.Status" class="form-input"/>
                </div>

            </div>

            <div class="grid grid-cols-1 gap-5 py-4">
                <div class="form-control">
                    <label asp-for="@Model.Note" class="form-label">
                        Note
                    </label>
                    <textarea asp-for="@Model.Note" class="form-input" cols="30" rows="10"></textarea>
                </div>

            </div>
        </div>
    </div>
</div>