@model CreateTagCommand

@{

}

<div id="main-swap">
    <form asp-controller="Tags" asp-action="Create" method="post">
        <section class=" flex w-full font-bold text-2xl pb-5">
            <div class="flex w-1/2">New Tag</div>
            <div class="flex w-1/2 justify-end">
                <div class="flex flex-row">
                    <button class="btn-default"
                        hx-post="/admin/tags" hx-trigger="click" hx-target="#main-swap" hx-swap="outerHTML"
                        hx-push-url="true">
                        <div class="flex flex-row ">
                            <div class="flex "> </div> 
                            <div class="flex">Cancel</div>
                       </div>
                    </button> 
                    <span class="mr-4"></span>
                     <button class="btn-primary"
                        hx-post="/admin/tags/create" hx-trigger="click" hx-target="#main-swap" hx-swap="outerHTML"
                        hx-push-url="true">
                       <div class="flex flex-row ">
                            <div class="mr-2 flex items-center "> 
                                <ion-icon name="save-outline" style="font-size: 16px;"></ion-icon>
                                </div> 
                            <div class="flex">Save</div>
                       </div>
                    </button>
                </div>
            </div>
        </section>

        <div class="w-full bg-white drop-shadow-lg rounded px-10 py-10">

            <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
                @* name *@
                <div class="form-control">
                    <label asp-for="@Model.Name" class="form-label">
                        Name
                    </label>
                    <input asp-for="@Model.Name" class="form-input" />
                    <span asp-validation-for="@Model.Name" class="form-input-error"></span>
                </div>

                @* color *@
                @* <div class="form-control">
                    <label asp-for="@Model.Color" class="form-label">
                        Color
                    </label>
                    <input type="color" asp-for="@Model.Color" class="form-input" />
                    <span asp-validation-for="@Model.Color" class="form-input-error"></span>
                </div> *@

            </div>
            <div class="grid grid-cols-1 gap-5 py-4">
                @* description *@
                <div class="form-control">
                    <label asp-for="@Model.Description" class="form-label">
                       Description
                    </label>
                    <textarea asp-for="@Model.Description" class="form-input" cols="30" rows="5"></textarea>
                    <span asp-validation-for="@Model.Description" class="form-input-error"></span>
                </div>
            </div>
        </div>
    </form>
</div>