<ul>
    <li>
        <a href="/">
            <div class="w-full flex flex-col p-2 hover:bg-indigo-50 @Html.ActiveClass("Dashboard")">
                <div class="flex  justify-center">
                    <ion-icon name="speedometer-outline"></ion-icon>
                </div>
                <div class="flex justify-center">
                    <span style="font-size: 9px;">Dashboard</span>
                </div>
            </div>
        </a>
    </li>

    <li>
        <a href="/ticket">
            <div class="w-full flex flex-col p-2 hover:bg-indigo-50 @Html.ActiveClass("Ticket")">
                <div class="flex  justify-center">
                    <ion-icon name="ticket-outline"></ion-icon>
                </div>
                <div class="flex justify-center">
                    <span style="font-size: 10px;">Tickets</span>
                </div>
            </div>
        </a>
    </li>

    <li>
        <a href="/agent">
            <div class="w-full flex flex-col p-2 hover:bg-indigo-50 @Html.ActiveClass("Agent")">
                <div class="flex  justify-center">
                    <ion-icon name="headset-outline"></ion-icon>
                </div>
                <div class="flex justify-center">
                    <span style="font-size: 10px;">Agents</span>
                </div>
            </div>
        </a>
    </li>

    <li>
        <a href="/user">
            <div class="w-full flex flex-col p-2 hover:bg-indigo-50 @Html.ActiveClass("User")">
                <div class="flex  justify-center">
                    <ion-icon name="people-outline"></ion-icon>
                </div>
                <div class="flex justify-center">
                    <span style="font-size: 10px;">Users</span>
                </div>
            </div>
        </a>
    </li>

     <li>
        <a asp-area="admin" asp-controller="settings" asp-action="index">
            <div class="w-full flex flex-col p-2 hover:bg-indigo-50 @Html.ActiveClass("Settings,Department")">
                <div class="flex  justify-center">
                    <ion-icon name="settings-outline"></ion-icon>
                </div>
                <div class="flex justify-center">
                    <span style="font-size: 10px;">Settings</span>
                </div>
            </div>
        </a>
    </li>

</ul>