@model Keis.Infrastructure.Features.Agents.CreateAgent.CreateAgentCommand

@{
    var createError = TempData["CreateError"]?.ToString() ?? "";
}

@if (!string.IsNullOrWhiteSpace(createError))
{
    <div _="init transition my opacity to 0% over 7 seconds"
         class="absolute top-0 right-0 px-5 py-1 z-50">
        <div class="flex flex-row bg-red-400 rounded px-5 py-1 text-white drop-shadow-lg">
            <div class="pr-3">
                <ion-icon name="close-circle" style="color: white;"></ion-icon>
            </div>
            <div>@createError</div>
        </div>
    </div>
}

<div id="main-swap">
    <section>
        @await Component.InvokeAsync("Breadcrumbs", new
        {
            crumbs = new[]
            {
                new SelectListItem {Text = "Home", Value = "/"},
                new SelectListItem {Text = "Admin", Value = "/admin"},
                new SelectListItem {Text = "Agent", Value = "/admin/agents"}
            },
            currentPage = "Create"
        })
    </section>
    <form asp-controller="BusinessHour" asp-action="Create" method="post">
        <section class=" flex w-full font-bold text-2xl pb-5">
            <div class="flex w-1/2">New Agent</div>
            <div class="flex w-1/2 justify-end">
                <div class="flex flex-row">
                    <button class="btn-default"
                            hx-get="/admin/agents"
                            hx-trigger="click"
                            hx-target="#main-swap"
                            hx-swap="outerHTML"
                            hx-push-url="true">
                        <div class="flex flex-row">
                            <div class="flex "> </div>
                            <div class="flex">Cancel</div>
                        </div>
                    </button>
                    <span class="mr-4"></span>
                    <button class="btn-primary"
                            hx-post="/admin/agents/create"
                            hx-trigger="click"
                            hx-target="#main-swap"
                            hx-swap="outerHTML"
                            hx-push-url="true">
                        <div class="flex flex-row ">
                            <div class="mr-2 flex items-center ">
                                <ion-icon name="save-outline" style="font-size: 16px;"></ion-icon>
                            </div>
                            <div class="flex">Save</div>
                        </div>
                    </button>
                </div>
            </div>
        </section>

        <div class="w-full bg-white drop-shadow-lg rounded px-10 py-10">

            <div class="grid grid-cols-1 md:grid-cols-2 gap-3">

                <div class="form-control">
                    <label asp-for="@Model.Email" class="form-label">
                        Email
                    </label>
                    <input asp-for="@Model.Email" class="form-input"/>
                    <span asp-validation-for="@Model.Email" class="form-input-error"></span>
                </div>

                <div class="form-control">
                    <label asp-for="@Model.Mobile" class="form-label">
                        Mobile
                    </label>
                    <input asp-for="@Model.Mobile" class="form-input"/>
                    <span asp-validation-for="@Model.Mobile" class="form-input-error"></span>
                </div>

                <div class="form-control">
                    <label asp-for="@Model.FirstName" class="form-label">
                        First Name
                    </label>
                    <input asp-for="@Model.FirstName" class="form-input"/>
                    <span asp-validation-for="@Model.FirstName" class="form-input-error"></span>
                </div>

                <div class="form-control">
                    <label asp-for="@Model.LastName" class="form-label">
                        Last Name
                    </label>
                    <input asp-for="@Model.LastName" class="form-input"/>
                    <span asp-validation-for="@Model.LastName" class="form-input-error"></span>
                </div>

                <div class="form-control">
                    <label asp-for="@Model.Telephone" class="form-label">
                        Telephone
                    </label>
                    <input asp-for="@Model.Telephone" class="form-input"/>
                    <span asp-validation-for="@Model.Telephone" class="form-input-error"></span>
                </div>

                <div class="form-control">
                    <label asp-for="@Model.Timezone" class="form-label">
                        Agent Time zone
                    </label>
                    <select asp-for="@Model.Timezone" class="dropdown search form-input">
                        @foreach (var item in TimeZoneInfo.GetSystemTimeZones())
                        {
                            <option value="@item.Id">@item.DisplayName</option>
                        }
                    </select>
                    <span asp-validation-for="@Model.Timezone" class="form-input-error"></span>
                </div>

                <div class="form-control">
                    <label asp-for="@Model.Department" class="form-label">
                        Department
                    </label>
                    <select asp-for="@Model.Department" class="dropdown search form-input">
                        @foreach (var item in Model.DepartmentList)
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    </select>
                    <span asp-validation-for="@Model.Department" class="form-input-error"></span>
                </div>

                <div class="form-control">
                    <label asp-for="@Model.Team" class="form-label">
                        Team
                    </label>
                    <select asp-for="@Model.Team" class="dropdown search form-input">
                        @foreach (var item in Model.TeamList)
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    </select>
                    <span asp-validation-for="@Model.Team" class="form-input-error"></span>
                </div>

                <div class="form-control">
                    <label asp-for="@Model.Type" class="form-label">
                        Default Ticket Type
                    </label>
                    <select asp-for="@Model.Type" class="dropdown search form-input">
                        @foreach (var item in Model.TypeList)
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    </select>
                    <span asp-validation-for="@Model.Type" class="form-input-error"></span>
                </div>

                <div class="form-control">
                    <label asp-for="@Model.Mode" class="form-label">
                        Mode
                    </label>
                    <select asp-for="@Model.Mode" class="dropdown search form-input" asp-items="@Html.GetEnumSelectList<AgentMode>()">
                        <option value=""></option>
                    </select>
                    <span asp-validation-for="@Model.Mode" class="form-input-error"></span>
                </div>
            </div>
            <div class="grid grid-cols-1 gap-5 py-4">
                @* body *@
                <div class="form-control">
                    <label asp-for="@Model.Note" class="form-label">
                        Agent Signature
                    </label>
                    <textarea asp-for="@Model.Note" class="form-input" cols="30" rows="10"></textarea>
                    <span asp-validation-for="@Model.Note" class="form-input-error"></span>
                </div>
            </div>
        </div>
    </form>
</div>

<script>  
    $('#Timezone').dropdown(); 
    $('#Department').dropdown(); 
    $('#Team').dropdown(); 
    $('#Type').dropdown(); 
    $('#Mode').dropdown(); 
</script>