@model CreateBusinessHourCommand

@{
    var controlClass = "w-full px-3";
    var labelClass = "block text-gray-600 text-xs py-1";
    var inputClass = "block text-sm py-2 w-full rounded bg-gray-50 border-gray-300 focus:border-indigo-300 focus:ring-indigo-300";
    var errorClass = "text-xs text-red-400";
    var primaryButton = "text-sm rounded px-3 py-1 focus:outline-none cursor-pointer drop-shadow-md bg-indigo-500 text-white hover:bg-indigo-600 focus:ring-indigo-800";
    var defaultButton = "text-sm rounded px-3 py-1 focus:outline-none cursor-pointer drop-shadow-md bg-white text-gray-600 hover:bg-gray-50 hover:text-gray-900 focus:ring-gray-400";

}

<div id="main-swap">
    <form asp-controller="BusinessHour" asp-action="Create" method="post">
        <section class=" flex w-full font-bold text-2xl pb-5">
            <div class="flex w-1/2">New Business Hour</div>
            <div class="flex w-1/2 justify-end">
                <div class="flex flex-row">
                    <button class="@defaultButton"
                        hx-post="/admin/businesshour" 
                        hx-trigger="click" 
                        hx-target="#main-swap" 
                        hx-swap="outerHTML"
                        hx-push-url="true"
                        >
                        <div class="flex flex-row ">
                            <div class="flex "> </div> 
                            <div class="flex">Cancel</div>
                       </div>
                    </button> 
                    <span class="mr-4"></span>
                     <button class="@primaryButton"
                        hx-post="/admin/businesshour/create" 
                        hx-trigger="click" 
                        hx-target="#main-swap" 
                        hx-swap="outerHTML"
                        hx-push-url="true">
                       <div class="flex flex-row ">
                            <div class="mr-2 flex items-center "> 
                                <ion-icon name="save-outline" style="font-size: 16px;"></ion-icon>
                                </div> 
                            <div class="flex">Save</div>
                       </div>
                    </button>
                </div>
            </div>
        </section>

        <div class="w-full bg-white drop-shadow-lg rounded px-10 py-10">

            <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
                @* name *@
                <div class="@controlClass">
                    <label asp-for="@Model.Name" class="@labelClass">
                        Name
                    </label>
                    <input asp-for="@Model.Name" class="@inputClass" />
                    <span asp-validation-for="@Model.Name" class="@errorClass"></span>
                </div>

                 @* status *@
                <div class="@controlClass">
                    <label asp-for="@Model.Status" class="@labelClass">
                        Status
                    </label>
                    <select asp-for="@Model.Status" class="@inputClass" asp-items="@Html.GetEnumSelectList<DefaultStatus>()" >
                        <option value=""></option>
                    </select>
                    <span asp-validation-for="@Model.Status" class="@errorClass"></span>
                </div>
               
                @* timezone *@
                <div class="@controlClass">
                    <label asp-for="@Model.Timezone" class="@labelClass">
                        Timezone
                    </label>
                    <select asp-for="@Model.Timezone" class="@inputClass" >
                        <option value=""></option>
                        @foreach (var item in System.TimeZoneInfo.GetSystemTimeZones())
                        {
                        <option value="">@item.DisplayName</option>
                        }
                    </select>
                    <span asp-validation-for="@Model.Timezone" class="@errorClass"></span>
                </div>

                @* <div class="@controlClass">
                    <label asp-for="@Model.Timezone" class="@labelClass">
                        Timezone
                    </label>
                     <input list="timezones" asp-for="@Model.Name" class="@inputClass" />
                    <datalist id="timezones" >
                        <option value=""></option>
                        @foreach (var item in System.TimeZoneInfo.GetSystemTimeZones())
                        {
                        <option value="@item.DisplayName">@item.DisplayName</option>
                        }
                    </datalist>
                    <span asp-validation-for="@Model.Timezone" class="@errorClass"></span>
                </div> *@

            </div>
            <div class="grid grid-cols-1 gap-5 py-4">
                @* description *@
                <div class="@controlClass">
                    <label asp-for="@Model.Description" class="@labelClass">
                       Description
                    </label>
                    <textarea asp-for="@Model.Description" class="@inputClass" cols="30" rows="5"></textarea>
                    <span asp-validation-for="@Model.Description" class="@errorClass"></span>
                </div>
            </div>
        </div>
    </form>
</div>